<body>
    <h1>Auctions</h1>
    <div>
        {% if user.is_authenticated %}
        Welcome back, <strong>{{ user.username }}</strong>!
        {% else %}
        Not signed in.
        {% endif %}
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Listings</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watchlist' request.user.id %}">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_listing' %}">Create Listing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
    </ul>